html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  justify-content: center;
  display: flex;
  width: 100%;
}

.cdk-overlay-pane {
  top: 31px !important;
}
